@import '../../../theme/sass/conf/conf';

.channels-block {
  width: 100%;
  position: relative;
}


.chart-bg {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 60px;
  top: 60px;
  background-color: transparent;
  border-radius: 100px;
}

.ng2, .blur {
  .traffic-chart .canvas-holder {
    border: 15px solid rgba(0, 0, 0, 0.2);
    border-radius: 150px;
  }

  .chart-bg {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.channels-info {
  display: inline-block;
  width: calc(100% - 370px);
  margin-left: 70px;
  margin-top: -36px;
}

.small-container {
  .channels-info {
    display: none;
  }
}

.channels-info-item {
  p {
    margin-bottom: 9px;
    font-size: 18px;
    opacity: 0.9;
  }
  .channel-number {
    display: inline-block;
    float: right;
  }
}

.traffic-chart {
  width: 300px;
  position: relative;
  min-height: 300px;
  float: left;
}

.traffic-legend {
  display: inline-block;
  padding: 70px 0 0 0;
  width: 160px;
}

.traffic-legend ul.doughnut-legend {
  li {
    list-style: none;
    font-size: 12px;
    margin-bottom: 12px;
    line-height: 16px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    span {
      float: left;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
  }
}

.canvas-holder {
  display: inline-block;
  width: 300px;
  height: 300px;
  position: relative;
  float: left;
}

.traffic-text {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -24px;
  line-height: 24px;
  text-align: center;
  font-size: 18px;
  //color: $danger;
  span {
    display: block;
    font-size: 18px;
    color: #000;
  }
}

.channel-change {
  display: block;
  margin-bottom: 12px;
}

.channel-progress {
  height: 4px;
  border-radius: 0;
  width: 100%;
  margin-bottom: 0;
  background-color: $progress-background;
  box-shadow: none;
  .progress-bar {
    height: 4px;
    background-color: gray;
    box-shadow: none;
  }
}

.legend-color {
  width: 30px;
  height: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  top: 27px;
  border-radius: 15px;
  left: -45px;
}