@media screen and (min-width: 1620px) {
.row.shift-up {
> * {
margin-top: -573px;
}
}
}

@media screen and (max-width: 1620px) {
.card.feed-panel.large-card {
height: 824px;
}
}

.user-stats-card {
.card-title {
padding: 0 0 15px;
}
}

.blurCalendar {
height: 475px;
}
thead {
text-transform: uppercase;
}
.table > tbody > tr > td {
    //background-color: black;
    //border: 1px solid;
    }
    
  
.al-main {
 background-color: black !important;
 }
button.btn.btn-default {
   // float: right;
}
.btn-group-sm > .btn, .btn-sm {
    padding: 3px 5px;
    font-size: 9px;
    line-height:0;
}
.table > tbody > tr > td {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid lightslategray;
    text-align: center;

}
.table > thead > tr > th {
 border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid lightslategray;
    text-align: center;
    font-weight: bold;
    }
    tbody {
    font-size: 12px;
}
    

 button.btn.btn-default {
    border-width: 1px;
    color: #ffffff !important;
    margin-left: 15px !important;
    background-color: dimgrey;
}
input.form-control {
    color: #000 !important;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-color: #FAEBD7 !important;
    box-shadow: none;
    font-size: 14px;
    margin-left: -40px;
    width: 60%;
   }
.modal-content {
    background-color: #A9A9A9 !important;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 60px;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 15px !important;
    margin-top: 10px;
}
.row {
    margin-left: 5px !important;
    margin-right: -15px;
}
