<div class="container">
  <table class="table table-hover">
    <thead>
      <tr class="accordion-toggle"  data-toggle="collapse" data-target="#collapseOne">
        <th></th>
        <th>User Groups</th>
        <th>Roles</th>
        <th>Location</th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let list of items ">
      <td> <button type="button" class="btn btn-default btn-sm" (click)="list.show = !list.show" style="float: right;margin: 5px auto;"><span 
        class="fa " [ngClass]="{'fa-plus': !list.show , 'fa-minus': list.show }"></span></button></td>
       <td>
        <input type="checkbox"   [(ngModel)]="list.isSelected" style="margin: 12px;">{{list.userGroup}}
        <ng-container *ngIf="list.show">
          <div *ngFor="let row of list.users" style="margin-left: 28px;">
            <span>{{row}}</span><br/>
          </div>
        </ng-container>
        <!-- <div *ngFor="let row of list.users">
          <div *ngIf="list.show">
            <span>{{row}}</span>
          </div>
        </div> -->
       <!--  <div *ngFor="let subItem of items['user']" >
        {{subItem.name}}<br/>
      </div> -->
    </td>
<!--         <td *ngFor="let subList of list.roles "> {{subList.roles}}</td>
 -->       <!--   <template let-group ngFor [ngForOf]="items">
        <tr *ngFor="let row of group.roles">
          <td>{{row}}<td>
        </tr>
      </template> -->
      <td >
        <div *ngFor="let subList of list.roles" style="text-align: center;">
          <span>{{subList}}</span><br/>
        </div>
      </td>
      <td >
        <div *ngFor="let subList of list.location" style="text-align: center;">
          <span>{{subList}}</span>
        </div>
      </td> 
      <td>
        <div  class="btn-group" style="text-align: center;">
        <button type="button" class="btn btn-default btn"><i class="fa fa-pencil"></i></button>  
          <button (click)="removeRecordPlugin(list)" type="button" class="btn btn-default" aria-label="Left Align"><i class="fa fa-trash"></i></button> 
        </div>
       
      </td>
    </tr>
  </tbody>
</table>

</div>



<a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" style="float: right;">Create New User Group</a><br/>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New User Group</h4>
      </div>
      <div class="modal-body">
      <div class="row">
         <div class="col-sm-2"><label>Name</label></div>  
         <div class="col-sm-10">
         <input type="text" class="form-control" [(ngModel)]="item" autofocus>
         </div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>&nbsp;
         <button type="button" class="btn btn-primary" (click)= "addItem(item)"> Save</button>
      </div>
    </div>

  </div>
</div>
