<div style="display:-webkit-box;display:flex;flex-direction:row;align-content:flex-start;">
	<form style="width:50%;margin:0px;">
	  <div  style="display:block; border: 1px solid;
    margin-bottom: 8px; text-align: center;color: #000000;"> Available Users </div>
		<div *ngIf="filter" class="filter">
			<input class="form-control" name="filterSource" [(ngModel)]="available.picker" (ngModelChange)="onFilter(available)">
		</div>

		<div class="record-picker">
			<ul [ngStyle]="{'max-height': height, 'min-height': height}" [ngClass]="{over:available.dragOver}"
				(drop)="drop($event, confirmed)" (dragover)="allowDrop($event, available)" (dragleave)="dragLeave()">
				<li *ngFor="let item of available.sift; let idx=index;"
					(click)="selectItem(available.pick, item); shiftClick($event, idx, available, item)"
					[ngClass]="{selected: isItemSelected(available.pick, item)}"
					draggable="true" (dragstart)="drag($event, item, available)" (dragend)="dragEnd(available)"
				><label>{{item._name}}</label></li>
			</ul>
		</div>

		<div style="margin-top:8px;">
			<button type="button" class="btn btn-default"
				style="margin-right:0px; color: #000000; border: 1px solid;" (click)="selectNone(available)"
				[disabled]="!isAnySelected(available)"><i class="fa fa-square-o"></i> Uncheck</button>
		</div>
	</form>
	<div style="padding: 5px;">
	<button type="button" class="btn btn-primary" style="margin-top: 60px;" 
				 (click)="selectAll(available)"
				[disabled]="isAllSelected(available)">
				<i class="fa fa-fast-forward" aria-hidden="true"></i>
				</button>
<button type="button" name="addBtn" class="btn btn-primary"
			style="display:block;margin-bottom:8px;margin-top: 8px;height: 10%;width: 77%;"
			(click)="moveItem(available, confirmed)"
			[disabled]="available.pick.length === 0"><i class="fa fa-arrow-right" aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;</i>
</button>
<button type="button" name="removeBtn" class="btn btn-primary"
			style="display:block;margin-bottom:8px; height: 10%;"
			(click)="moveItem(confirmed, available)"
			[disabled]="confirmed.pick.length === 0"><i class="fa fa-arrow-left" aria-hidden="true"></i>
</button>
<button type="button" class="btn btn-primary"
				 (click)="selectAll(confirmed)"
				[disabled]="isAllSelected(confirmed)"><i class="fa fa-fast-backward" aria-hidden="true"></i></button>
</div>

	<form style="width:50%;">
	  <div  style="display:block; border: 1px solid;
    margin-bottom: 8px; text-align: center; color: #000000;"> Selected Users </div>
		<div *ngIf="filter" class="filter">
			<input class="form-control" name="filterDestination" [(ngModel)]="confirmed.picker" (ngModelChange)="onFilter(confirmed)">
		</div>

		<div class="record-picker">
			<ul [ngStyle]="{'max-height': height, 'min-height': height}" [ngClass]="{over:confirmed.dragOver}"
				(drop)="drop($event, available)" (dragover)="allowDrop($event, confirmed)" (dragleave)="dragLeave()">
				<li *ngFor="let item of confirmed.sift; let idx=index;"
					(click)="selectItem(confirmed.pick, item); shiftClick($event, idx, confirmed, item)"
					[ngClass]="{selected: isItemSelected(confirmed.pick, item)}"
					draggable="true" (dragstart)="drag($event, item, confirmed)" (dragend)="dragEnd(confirmed)"
				><label>{{item._name}}</label></li>
			</ul>
		</div>
		<div style="margin-top:8px;">
			<button type="button" class="btn btn-default"
				style="margin-right: 24px; color: #000000;border: 1px solid;" (click)="selectNone(confirmed)"
				[disabled]="!isAnySelected(confirmed)"><i class="fa fa-square-o"></i> Uncheck</button>
		</div>
	</form>
</div>